* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
}

body {
  font-family: "Proxima Nova SemiBold", sans-serif;
  
}

.gradient {
  background-image: linear-gradient(
  		to top right,
  		#A9A9A9, #FFF
  		);
}

#mfPreviewBar {
	display: none;
}

.wrap {
	width:100%;
	max-width: 1000px;
	padding:0 150px;
	margin:auto;
}

.container {
	margin: 25px 0px;
}

.quote-text {
	background: #18a0ff;
	color: #FFF;
	width: 530px;
	height: 490px;
}

.column-1 {
	float: left;
	position: relative;
}

.column-2 {
	float: right;
}

h1 {
	text-transform: uppercase;
	line-height: 1;
	font-weight: bold;
	font-size: 72px;
	padding: 40px 60px;
}

p {
	text-transform: uppercase;
	font-size: 16px;
	padding-left: 40px;
	letter-spacing: 1px;
}

blockquote {
	quotes: "\201C";
}
blockquote:before {
	color: #ccc;
	opacity: 0.2;
    content: open-quote;
    font-size: 11em;
    line-height: 0.1em;
    position: absolute;
	top: 110px;
    left: 42px;
 
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
